
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img src="{{ asset('bundles/app/uploads/cartelera/paranormal.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ACTIVIDAD PARANORMAL LA DIMENSIÓN FANTASMA</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Actividad-Paranormal.mp4') }}" type="video/mp4">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Actividad-Paranormal.webm') }}" type="video/webm">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Actividad-Paranormal.3gp') }}" type="video/3gp">
					</video>
				</div>

				<div id="texto1">La familia Fleege acaban de mudarse de casa. Entre las cosas que dejaron los anteriores inquilinos, encuentran una cámara de vídeo y unos viejos VHS. El contenido de las cintas muestran extrañas imágenes de dos niñas que habitaban la casa antiguamente: Kristi y Katie.
				</div>
			

			</div>

			<br>
			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img src="{{ asset('bundles/app/uploads/cartelera/poster-sin-escape11221.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">SIN ESCAPE</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Sin-Escape.mp4') }}" type="video/mp4">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Sin-Escape.webm') }}" type="video/webm">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Sin-Escape.3gp') }}" type="video/3gp">
					</video>
				</div>
				
				<div id="texto2">SIN ESCAPE, es una película de acción y suspenso arrollador que cuenta la historia de un hombre de negocios norteamericano (Owen Wilson) quien, junto a su familia, se muda al sudeste de Asia. Inmediatamente después de establecerse en su nuevo hogar se encuentran en medio de un violento golpe de estado y se ven forzados a encontrar una escapatoria segura mientras los rebeldes atacan la ciudad sin piedad. Dirigida por John Erick Dowdle y escrita con su hermano Drew, quien también sirve como productor, SIN ESCAPE está protagonizada por Owen Wilson, Pierce Brosnan y Lake Bell.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img src="{{ asset('bundles/app/uploads/cartelera/hotel_transylvania_two_ver4_xlg.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">HOTEL TRANSYLVANIA 2</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Hotel-Transylvania-2.mp4') }}" type="video/mp4">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Hotel-Transylvania-2.webm') }}" type="video/webm">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Hotel-Transylvania-2.3gp') }}" type="video/3gp">
					</video>
				</div>
				
				<div id="texto3">
				Todo parece estar cambiando a mejor en el Hotel Transilvania... La rígida política de “sólo para monstruos” establecida por Drácula para el hotel, se ha relajado por fin y se han abierto las puertas también a huéspedes humanos. Pero, de ataúdes para dentro, Drácula está preocupado al ver que su adorable nieto Dennis, medio humano y medio vampiro, no muestra signos de ser vampiro. Así que mientras Mavis está ocupada visitando a sus suegros humanos en compañía de Johny – e inmersa ella misma en su propio choque cultural – el abuelito Drácula recluta a sus amigos Frank, Murray, Wayne y Griffin para hacer que Dennis pase por un campamento de “entrenamiento de monstruos”. Lo que ellos no saben es que el gruñón, y de la muy, muy, muy vieja guardia, padre de Drácula, Vlad, está a punto de visitar a la familia en el hotel. Y cuando Vlad descubra que su bisnieto no es de sangre pura – y que los humanos también son ahora bienvenidos en el Hotel Transilvania – las cosas se van a poner complicadas.
				</div>
			</div>


			<br>
			
				
		</div>

	   
	