
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img src="{{ asset('bundles/app/uploads/cartelera/Usted-no-sabe-quien-soy-Yo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">¿USTED NO SABE QUIÉN SOY YO?</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Usted-no-sabe-quien-soy-Yo.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">¿Usted no sabe quién soy yo? es la divertida historia de Ricardo, (Ricardo Quevedo), un comediante amateur que se intenta dar a conocer haciendo Stand Up Comedy en varios bares de Bogotá. Ricardo está atravesando el más espantoso de los guayabos porque su novia de muchos años lo abandonó por un hombre mayor perteneciente a la farándula colombiana que además tiene mucho dinero. Con sus dos amigos Crist (Freddy Beltrán) y Valentino (Iván Marín) concluyen que en la sociedad colombiana es imposible surgir sin tener plata o ser familiar de una persona importante por lo que es mejor aparentar ser alguien de mejor estrato social e ir diciendo a donde quiera que vayas “¿Usted no sabe quién soy yo?”.
				</div>
			

			</div>

			<br>
			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img src="{{ asset('bundles/app/uploads/cartelera/Alvin_Y_Las_Ardillas_4.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ALVIN Y LAS ARDILLAS: AVENTURA SOBRE RUEDAS</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Alvin_Y_Las_Ardillas_4.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">A través de una serie de malentendidos, Alvin, Simon y Theodore creen que Dave le va a proponer matrimonio a su nueva novia en Nueva York y los va a botar.Sin embargo, tienen tres días para intentar detener esa propuesta, salvándose no sólo de perder a Dave sino posiblemente de adquirir un hermanastro terrible.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img src="{{ asset('bundles/app/uploads/cartelera/GDINO_SPOTARLO_LAS.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UN GRAN DINOSAURIO</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/GDINO_SPOTARLO_LAS.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				UN GRAN DINOSAURIO reflexiona sobre el interrogante: ¿Qué hubiera ocurrido si el asteroide que cambió para siempre la vida en la Tierra no hubiera impactado contra el planeta y los dinosaurios jamás se hubieran extinguido? Pixar Animation Studios te lleva en un viaje extraordinario al mundo de los dinosaurios, donde un Apatosaurio llamado Arlo gana un compañero bastante improbable en el camino: un niño humano. Mientras viaja a través de un paisaje montañoso y misterioso, Arlo aprende a confrontar sus temores y descubre lo que realmente es capaz de hacer.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img src="{{ asset('bundles/app/uploads/cartelera/Uno-al-ano.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UNO AL AÑO NO HACE DAÑO 2</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Uno-al-ano.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				Marcos, en compañía de su camarógrafo, continúa con la investigación de si Colombia es un país de bebedores. Es así como en esta entrega, gracias a los habitantes del Barrio las Delicias, Marcos podrá mostrarnos en imágenes algunas tradicionales celebraciones como: El día de la Madre, La despedida de Soltero, La última Lágrima, El Paseo de Olla, Una Realidad Virtual y La Fiesta de disfraces. Ahora solo queda demostrado que la alegría de los colombianos mezclada con el licor nos hacen especialmente particulares.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img src="{{ asset('bundles/app/uploads/cartelera/point-break.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">PUNTO DE QUIEBRE</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/point-break.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				Un joven agente del FBI, Johnny Utah (Luke Bracey), se infiltra en un malicioso grupo de atletas en busca de desafíos comandado por el carismático Bodhi (Édgar Ramírez). Se sospecha que los atletas en cuestión también son responsables de una ola de crímenes que vienen llevándose a cabo de maneras extremadamente inusuales. Totalmente de incógnito y con su vida en peligro inminente, Utah intenta probar que ellos son los arquitectos de esta serie de crímenes inconcebibles.
				</div>
			</div>

			<br>
			
				
		</div>

	   
	