
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img src="{{ asset('bundles/app/uploads/cartelera/Star-Wars.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">STAR WARS: EL DESPERTAR DE LA FUERZA</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Star-Wars.mp4') }}" type="video/mp4">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Star-Wars.webm') }}" type="video/webm">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Star-Wars.3gp') }}" type="video/3gp">
					</video>
				</div>

				<div id="texto1">Séptima entrega de la saga Star Wars, donde dos gemelos de 17 años, una chica y un chico, son entrenados por su tío Luke para convertirse en los Jedi más poderosos de la galaxia. El problema empezará cuando uno de ellos se convierte al lado oscuro. Los personajes protagonistas serían Jaina Solo y Jacen Solo, la primera de espíritu más puro, el segundo más solitario y preguntándose constantemente lo que está bien y lo que está mal hasta el punto de adentrarse en lado oscuro pensando que hace lo correcto acabará por convertirse en el temido Darth Caedus.
				</div>
			

			</div>

			<br>
			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img src="{{ asset('bundles/app/uploads/cartelera/ultimo-cazador-brujas.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL ÚLTIMO CAZADOR DE BRUJAS</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ultimo-cazador-brujas.mp4') }}" type="video/mp4">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ultimo-cazador-brujas.webm') }}" type="video/webm">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ultimo-cazador-brujas.3gp') }}" type="video/3gp">
					</video>
				</div>
				
				<div id="texto2">El mundo moderno oculta muchos secretos, pero el más asombroso de todos es que las brujas aún viven entre nosotros: viciosas criaturas sobrenaturales que intentan desatar la Muerte Negra sobre la tierra. Ejércitos de cazadores de brujas han combatido a este temible enemigo durante siglos, incluyendo a Kaulder (Vin Diesel), un valiente guerrero que logró acabar con la poderosa Reina Bruja, castigando a sus seguidores en el proceso. Antes de morir, la Reina maldijo Kaulder con su propia inmortalidad, separándole para siempre de su esposa e hija. Hoy Kaulder es el único de su especie y, solitario, ha pasado el tiempo cazando brujas y anhelando a los seres queridos que perdió tiempo atrás. Sin embargo, la Reina Bruja ha resucitado y busca vengarse de su asesino, provocando una épica batalla que determinará la supervivencia de la raza humana.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img src="{{ asset('bundles/app/uploads/cartelera/sinsajo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LOS JUEGOS DEL HAMBRE: SINSAJO EL FINAL</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 45vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/sinsajo.mp4') }}" type="video/mp4">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/sinsajo.webm') }}" type="video/webm">
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/sinsajo.3gp') }}" type="video/3gp">
					</video>
				</div>
				
				<div id="texto3">
				Con la nación de Panem sumida en una gran guerra, Katniss se encuentra con el presidente Snow (Donald Sutherland) en un enfrentamiento final. Asociada con sus amigos más cercanos, Gale (Liam Hemsworth), Finnick (Sam Claflin) y Peeta (Josh Hutcherson), Katniss emprende una misión con la unidad del Distrito 13, en la que arriesgan sus vidas para liberar a los ciudadanos de Panem y organizan un ataque contra el presidente Snow, quien está cada vez más obsesionado con destruirla. Las trampas mortales, los enemigos y las decisiones morales que esperan a Katniss la desafiarán más que cualquier otra situación que ella haya enfrentado en Los Juegos del Hambre.
				</div>
			</div>


			<br>
			
				
		</div>

	   
	